/** @type {import('tailwindcss').Config} */
module.exports = {
  content: [
    './pages/**/*.{js,ts,jsx,tsx}',
    './src/components/**/*.{js,ts,jsx,tsx}',
  ],
  theme: {
    extend: {
      colors: {
        primary: '#c27e5c',     // warm terracotta
        secondary: '#663a25',   // deep brown
        tertiary: '#b08771',    // muted beige
        accent: '#7a8b68',      // soft olive green
        background: '#fff9f3',  // off-white
        neutral: '#d4b7a2',     // light tan
      },
      fontFamily: {
        serif: ['"The Seasons"', 'serif'],
        sans: ['Montserrat', 'sans-serif'],
      },
    },
  },
  plugins: [],
};
